# checkpoint
/checkpoint

# dataset
/data

# pycharm IDE
.idea/

# test file
testModel.py

# python cache
__pycache__/

# log file
log

# fig file
fig

# checkpoint
checkpoint

# bash files

info.py
train_hold.py

# multi bn
models/multi_bn.py
